html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg: #ffffff;
    --color-secondary-bg: #000;
    --color-tertiary-bg: #0b0b0b;
    --color-text: #000;
    --color-secondary-text: #ffffff;
    --color-tetiary-text: #adb5bd;

    /* navigation */
    --color-nav-bg: #000;
    --color-nav-text: #ffffff;
    --color-nav-shadow: rgba(0, 0, 0, .25);
    --color-nav-transparency: rgba(10, 10, 10, .9);

    /* brand */
    --color-primary: #fabd8e;
    --color-primary-bright: #f2cfb4;
    --color-secondary-bright: #faf1e7;

    --color-primary-text: #f1832f;
    --color-nav-hover: var(--color-primary);
    --color-transition: linear-gradient(120deg,
            rgb(250, 189, 142) 0%,
            rgb(255, 225, 170) 25%,
            rgb(255, 245, 210) 50%,
            rgb(255, 225, 170) 75%,
            rgb(250, 189, 142) 100%);
    /* card */
    --color-card-bg: #141313b7;
    --color-card-text: #ab967c;

    /* stat */
    --color-stat-bg: var(--color-secondary-bright);

    /* button */
    --color-btn-primary: var(--color-primary);
    --color-btn-text: var(--color-text);
    --color-btn-hover: #f5a96d;
    --color-btn-navigate-primary: #dee2e6;
    --color-btn-navigate-secondary: #a9abaf;


    /* icon */
    --color-icon-primary: var(--color-secondary-text);
    --color-icon-bg: #ab967c;
    --color-icon-social-bg: #343a40;
    --color-icon-text: #3c362e;

    /* border */
    --color-border: #2f2f2f;
    --color-border-primary: #343a40;
    --color-border-secondary: #504e4e;
    --color-border-tetiary: #656464;

    /* contact */
    --color-contact-bg: #212121;
}

html[data-theme = "dark"] {
    color-scheme: dark;
   --color-bg: #0f172a;
   --color-text: #ffffff;
   --color-general-text:#000;
   --color-secondary-text:#ffffff;
    --color-btn-text:var(--color-general-text);
}

html[data-theme = "light"]{
    color-scheme: light;
};

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    max-width: 100%;
}
.app{
    max-width: 48rem;
    margin: 0 auto;
    position: relative;
}
.header,
.nav-bar {
    font-family: "poppins", sans-serif;
}

main {
    font-family: "inter", sans-serif;
    overflow-x: hidden;
}


.header {
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-nav-bg);
    border-bottom: solid 1px var(--color-border-secondary);
    gap: clamp(2rem, 5vw, 6rem);
    transition: background-color .3s ease, box-shadow .3s ease;
    height: 8rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header__logo {
    font-size: clamp(1.4rem, 2vw, 1.8rem);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-nav-text);
    font-size: 1.8rem;
}


.header__menu {
    width: 3.2rem;
    height: 3.2rem;
    position: relative;
    cursor: pointer;
}

.header__menu-toggle {
    width: 100%;
    height: .3rem;
    display: block;
    transition: transform .3s ease;
    position: absolute;
    left: 0;
    background-color: var(--color-nav-text);

}

.header__menu-toggle:nth-child(1) {
    top: .6rem;
}

.header__menu-toggle:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.header__menu-toggle:nth-child(3) {
    bottom: .6rem;
}

.header__menu.active .header__menu-toggle:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.header__menu.active .header__menu-toggle:nth-child(2) {
    opacity: 0;
}

.header__menu.active .header__menu-toggle:nth-child(3) {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%) rotate(-45deg);
}

.header.header-scroll {
    background-color: var(--color-nav-transparency);
    box-shadow: 0 4px 20px var(--color-nav-shadow);
}

.overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
    position: fixed;
    top: 80px;
    right: 0;
}

.show {
    opacity: 1;
    visibility: visible;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: var(--color-nav-transparency);
    backdrop-filter: blur(8px);
    z-index: 500;
}

/* nav-bar */
.nav-bar {
    padding: 3.2rem 0;
    gap: clamp(2rem, 2vw, 3rem);
    height: calc(100vh - 8rem);
    transform: translateX(100%);
    transition: transform .3s ease;
    width: 100%;
    max-width: 100vw;
    position: fixed;
    top: 8rem;
    right: 0;
    z-index: 800;
}

.nav-bar-top {
    top: 0;
    height: 100vh;
}

.nav-bar.open {
    transform: translateX(0);
    z-index: 500;
}

.nav-bar__menu {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 5vw, 6rem);
    border-bottom: solid .1rem var(--color-border-primary);
    padding: 4rem;
    list-style: none;
}

.nav-bar__menu-list:link,
.nav-bar__menu:visited {
    text-decoration: none;
}

.nav-bar__menu-list:hover:link,
.nav-bar__menu-list:hover:visited {
    color: var(--color-primary);
    border-bottom: solid .2rem var(--color-primary);
}

style {
    border-bottom: solid .2rem var(--color-primary);
}

.nav-bar__menu-list {
    display: flex;
    align-items: center;
    color: var(--color-nav-text);
    border-bottom: solid .2rem transparent;
    gap: 2rem;
    padding: 1rem 0;
    transition: border-bottom .3s ease, color .3s ease;
    font-size: clamp(1.4rem, 1.8vh, 2rem);
}


.nav-bar__menu-icon {
    color: var(--color-primary);
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3.2rem 2.4rem;
}

.btn--cart,
.btn--buy-now {
    padding: clamp(1.2rem, 1.8vh, 2rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    gap: clamp(1rem, 1vw, 2rem);
    cursor: pointer;
}

.btn--buy-now {
    background: var(--color-transition);
    background-size: 250% 100%;
    background-position: left center;
    transition:
        background-position .8s ease,
        transform .3s ease;

}

.btn--cart {
    border: solid .1rem var(--color-border-primary);
}

.btn--buy-now:link,
.btn--buy-now:visited,
.btn--cart:link,
.btn--cart:visited {
    letter-spacing: 1.2px;
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(1.2rem, 1.2vw, 1.6rem);
}

.btn--buy-now:link,
.btn--buy-now:visited {
    color: var(--color-btn-text);
}

.btn--buy-now:hover {
    background-position: right center;
    transform: scale(1.03);
}

.btn--cart:link,
.btn--cart:visited {
    color: var(--color-secondary-text);
}

.container-cart {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-primary);
}

.container__social-icons {
    display: flex;
    justify-content: space-between;
    padding: 2.4rem;
    color: var(--color-icon-primary);
}

.container__social-icons--box {
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-icon-social-bg);
    border-radius: 50%;
}

.container__social-icons--box:link,
.container__social-icons--box:visited {
    color: var(--color-icon-primary);
}

/* hero section */
.hero-section {
    padding-block: clamp(8rem, 14vw, 16rem);
}

.features-section,
.design-section,
.stats-section,
.testimonial-section,
.promo-section,
.footer-section {
    padding-block: clamp(8rem, 10vw, 12rem);
}

section {
    scroll-margin-top: 8rem;
}


.hero-section {
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 8vh, 7rem);
    background-color: var(--color-secondary-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.hero-section__container,
.hero-section__features,
.features-section__container,
.design-section__container,
.promo-section__container,
.stats-section__container,
.testimonial-section__container,
.footer-section__container {
    width: min(90%, 120rem);
    margin-inline: auto;
}

.hero-section__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;
    gap: 4rem;
}

.hero-section__text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero-section__badge,
.hero-section__title,
.hero-section__description,
.hero-section__cta {
    animation: fadeInUp .5s ease-in forwards;
    will-change: transform;
    backface-visibility: hidden;
}

.hero-section__badge {
    color: var(--color-primary);
    font-size: 1.6rem;
    letter-spacing: 1.2px;
}

.hero-section__title {
    color: var(--color-secondary-text);
    font-size: 3.2rem;
    letter-spacing: 1.2px;
}

.hero-section__description {
    color: var(--color-tetiary-text);
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.hero-section__cta {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hero-section__btn {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.8rem;
    border-radius: 10rem;
}

.hero-section__btn--primary:link,
.hero-section__btn--primary:visited {
    text-decoration: none;
    color: var(--color-btn-text);
}

.hero-section__btn--primary {
    background-color: var(--color-primary);
    padding: 1.4rem 2.8rem;
    transition: transfrom .6s ease, background-color .3s ease;
}

.hero-section__btn--primary:hover {
    background-color: var(--color-btn-hover);
}

.hero-section__btn--ghost {
    background-color: transparent;
    border: none;
    padding: 0;
    padding-right: 1rem;
    border-radius: 10rem;
    border: .5px solid var(--color-primary);
    color: var(--color-secondary-text);
    transition: transfrom .6s ease;
}


.hero-section__btn--ghost-box {
    padding: 1rem 1.4rem;
    border: .5px solid var(--color-primary);
    border-radius: 50%;
}

.hero-section {
    fill: var(--color-primary);
    stroke: none;
}

.hero-section__social-proof {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-section__avatar {
    display: flex;
    align-items: center;
}

.hero-section__avatar-box {
    display: inline-block;
    width: 3.8rem;
    height: 3.8rem;
    overflow: hidden;
    border-radius: 50%;
    border: solid .2px var(--color-primary);
    margin-left: -5px;
}

.hero-section__avatar-box:first-of-type {
    margin-left: 0;
}

.hero-section__avatar-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero-section__rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section__rating-title {
    font-size: 1.4rem;
    color: var(--color-tetiary-text);
}

.hero-section__rating-box {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-section__rating-icons {
    display: flex;
    gap: 1rem;
}

.hero-section__rating-icon {
    color: var(--color-primary);
}

.hero-section__rating-text {
    font-size: 1.2rem;
    color: var(--color-tetiary-text);
}


.hero-section__media .hero-section__image {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    animation: bounce 5s ease-in-out infinite;
}

.hero-section__features {
    border: solid .5px var(--color-border-primary);
    border-radius: 9px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.hero-section__features-box {
    display: flex;
    gap: 2rem;
    padding: 2rem 1rem;
    align-items: center;
}

.hero-section__features-box:last-of-type {
    border: none;
}

.hero-section__features-icon {
    color: var(--color-primary);
    width: 2.4rem;
    height: 2.4rem;
}

.hero-section__features-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-section__features-text--title {
    color: var(--color-secondary-text);
    font-weight: 600;
    font-size: 1.4rem;
}

.hero-section__features-text--description {
    color: var(--color-tetiary-text);
    font-size: 1.2rem;
}

.design-section {
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-bg);
}

.design-section__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: 1fr;
    align-items: center;
    gap: 4rem;
}

.design-section__gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: minmax(15rem, auto);
    padding: 1rem;
}

.design-section__gallery-big {
    grid-row: 1/3;
}

.design-section__gallery-big,
.design-section__gallery-small {
    background-color: var(--color-primary-bright);
    border-radius: 9px;
}

.design-section__gallery-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: filter .4s ease-out;
    filter: blur(12px);
    opacity: .8;
}

.design-section__gallery-img.lazy-loading {
    filter: blur(0);
    opacity: 1;
}

.design-section__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
    color: var(--color-text);
}

.design-section__text {
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    color: var(--color-primary-text);
    font-weight: 600;
}

.design-section__title {
    font-size: 2.4rem;
}

.design-section__description {
    line-height: 2.4rem;
    font-size: 1.4rem;
}

.design-section__features {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.design-section__feature {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.design-section__feature-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.design-section__feature-icon {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-icon-bg);
    color: var(--color-icon-text);
}

.design-section__feature-content--title {
    font-size: 1.6rem;
}

.design-section__feature-content--description {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.features-section {
    background-color: var(--color-secondary-bg);
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.features-section__media {
    height: 20rem;
    max-width: 100%;
}

.features-section__media-first img,
.features-section__media-second img,
.features-section__media-third img,
.features-section__media-fourth img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    transform: scale(1);
    transition: all .3s ease;
}

.features-section__media-first img:hover,
.features-section__media-second img:hover,
.features-section__media-third img:hover,
.features-section__media-fourth img:hover {
    transform: scale(1.1);
}



.features-section__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2.4rem;
}

.features-section__card {
    border: solid .2rem var(--color-border);
    border-radius: 9px;
    overflow: hidden;
    max-width: 45rem;
    margin: auto;
    width: 100%;
}

.features-section__content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    background-color: var(--color-card-bg);
    padding: 1.6rem;
}

.features-section__text,
.features-section__title {
    text-align: center;
}

.features-section__text {
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 600;
}

.features-section__title {
    color: var(--color-secondary-text);
    font-size: 1.8rem;
    letter-spacing: 1.2px;
}

.features-section__content-title {
    color: var(--color-card-text);
    font-size: 1.6rem;
    font-weight: 600;
}

.features-section__content-description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-secondary-text);
}

.stats-section {
    background-color: var(--color-stat-bg);
    padding: 2.4rem;
}

.stats-section__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.stats-section__icon{
    color: var(--color-general-text);
}

.stats-section__item {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
    border-right: solid 1px var(--color-border-secondary);
}

.stats-section__item:last-of-type {
    border-right: none;
}

.stats-section__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--color-general-text);
}

.stats-section__title,
.stats-section__description {
    letter-spacing: 1px;
}

.stats-section__title {
    font-size: 1.8rem;

}

.stats-section__description {
    font-size: 1.4rem;
}


.testimonial-section {
    min-height: 100vh;
    background-color: var(--color-bg);
}

.testimonial-section__container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    color: var(--color-general-text);
}

.testimonial-section__carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: clamp(3.2rem, 8vw, 9.6rem);
    padding-inline: clamp(6.4rem, 10.8vw, 12.8rem);
}

.testimonial-section__carousel-container {
    overflow: hidden;
    max-width: 100%;
}

.testimonial-section__badge {
    color: var(--color-primary-text);
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    text-align: center;
}

.testimonial-section__title {
    font-size: 2.4rem;
    letter-spacing: 1.2px;
    text-align: center;
    color: var(--color-text);
}

.testimonial-section__track {
    display: flex;
    transition: transform .8s cubic-bezier(0.22, 1, 0.36, 1);
    gap: 3.2rem;
    touch-action: pan-y;
    cursor: grab;
}

.testimonial-section__track.dragging {
    cursor: grabbing;
}

.testimonial-section__item {
    flex: 0 0 100%;
    padding-block: clamp(2.4rem, 3vw, 4.8rem);
    padding-inline: clamp(2.4rem, 5vw, 6.4rem);
    background-color: var(--color-secondary-bright);
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border: solid 1px var(--color-primary-text);
    border-radius: 9px;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
    justify-content: center;
    align-items: center;
}


.testimonial-section__rate {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.testimonial-section__rate svg {
    fill: var(--color-primary-text);
    stroke: none;
}

.testimonial-section__item--description {
    font-size: clamp(1.4rem, 2vw, 1.8rem);
    line-height: 3.2rem;
    text-align: center;
}

.testimonial-section__feature {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.testimonial-section__feature--box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

}

.testimonial-section__feature--img {
    height: 7.2rem;
    width: 7.2rem;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial-section__feature--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-section__feature--name {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
}

.testimonial-section__feature--country {
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
}

.dots-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn-dot {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: none;
    background-color: var(--color-btn-navigate-secondary);
    transition: background-color .3s ease-in-out;
}

.btn--right,
.btn--left {
    border-radius: 50%;
    border: none;
    padding: 1rem;
    position: absolute;
    background-color: var(--color-btn-navigate-primary);
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    color:var(--color-general-text);
}

.btn--right {
    right: 1rem;
}

.btn--left {
    left: 1rem;
}

.btn--right svg,
.btn--left svg {
    width: 2rem;
    height: 2rem;
    pointer-events: none;
}


.active-btn {
    background-color: var(--color-primary-bright);
}

/* promo section */
.promo-section {
    background-color: var(--color-bg);
}

.promo-section__container {
    background-color: var(--color-secondary-bg);
    border-radius: 9px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    overflow: hidden;
    gap: 4rem;
}

.promo-section__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2.4rem 1rem;
}

.promo-section__badge,
.promo-section__title,
.promo-section__description {
    letter-spacing: 1.2px;
    text-align: center;
}

.promo-section__badge {
    color: var(--color-primary);
    ;
    font-size: 1.4rem;
}

.promo-section__title {
    font-size: 1.8rem;
    color: var(--color-secondary-text);
}

.promo-section__description {
    font-size: 1.6rem;
    color: var(--color-secondary-text);
}

.promo-section__feature {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 10rem;
    gap: 2rem;
    border: solid .5px var(--color-border-tetiary);
    border-radius: 9px;
}

.promo-section__feature-box {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
}

.promo-section__feature-box:not(:last-of-type) {
    border-bottom: solid .5px var(--color-border-tetiary);
}

.promo-section__feature-box--icon {
    color: var(--color-primary);
}

.promo-section__feature-box--text {
    color: var(--color-secondary-text);
    font-size: 1.2rem;
}

.promo-section__image {
    height: 20rem;
    width: min(90%, 120rem);
    margin: auto;
    overflow: hidden;
}


.promo-section__offer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    background-color: var(--color-tertiary-bg);
    padding: 4.8rem 3.2rem;
}

.promo-section__offer--number {
    font-size: 2.4rem;
    color: var(--color-secondary-text);
}

.promo-section__offer--cancel {
    font-size: 1.4rem;
    color: var(--color-tetiary-text);
    text-decoration: line-through;
}

.promo-section__offer--text {
    color: var(--color-secondary-bright);
    font-size: 1.4rem;
}

.promo-section__offer--time {
    color: var(--color-secondary-bright);
    font-size: 1.4rem;
}

.promo-section__offer--timer {
    color: var(--color-secondary-text);
    font-size: 1.6rem;
}

.cta-btn {
    background-color: var(--color-primary);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border-radius: 20px;
}


.cta-btn:link,
.cta-btn:visited {
    text-decoration: none;
    color: var(--color-btn-text);
    font-size: 1.6rem;
}

.footer-section {
    width: 100%;
    background-color: var(--color-secondary-bg);
}

.footer-section__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
    color: var(--color-secondary-text);
}

.footer__logo {
    font-size: 1.6rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer__logo-icon {
    height: 2rem;
    width: 2rem;
}

.footer-section__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    opacity: 0;
    transform: translateY(20px) scale(.95);
    transition: transform .6s ease-out;
}

.footer-section__item--description {
    font-size: 1.2rem;
    line-height: 2.4rem;
}

.footer-section__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
}

.footer-section__social-icons {
    display: flex;
    gap: 1.4rem;
}

.footer-section__item--contact {
    align-items: center;
    gap: 8rem;
    grid-column: 1/-1;
    font-size: 1.4rem;
}

.bold {
    font-weight: 600;
    font-size: 1.4rem;
}

.footer-section__contact--email {
    padding: 1.4rem 2.4rem;
    border-radius: 9px 0 0 9px;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--color-contact-bg);
    color: var(--color-tetiary-text);
    font-size: 1.6rem;
}

.footer-section__contact--email::placeholder {
    font-size: 1.6rem;
    color: var(--color-tetiary-text);
}

.footer-section__contact {
    display: flex;
    align-items: center;
}

.footer-section__title {
    font-size: 1.4rem;
}

.footer-section__description {
    font-size: 1.4rem;
}

.footer-section__contact--btn {
    padding: 1.15rem 1.6rem;
    background-color: #fabd8e;
    color: var(--color-general-text);
    border-radius: 0 9px 9px 0;
    border: none;
}

.footer-section__copyright {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-top: solid 1px var(--color-border-secondary);
    padding: 2rem 0;
    color: var(--color-tetiary-text);
}


.hero-animate--y {
    opacity: 0;
    transform: translateY(20px) scale(.95);
    transition: transform .6s ease-out;
}

.hero-second__animate--y {
    opacity: 0;
    transform: translateY(10px) scale(.95);
    transition: transform .6s ease-out;
}

.zoom-in {
    transform: scale(.85);
    transition: transform .6s ease-out;
}

.zoom-in.show-zoomIn {
    transform: scale(1);
}

.design-section__content>* {
    opacity: 0;
    transform: translateY(20px) scale(.95);
    transition: transform .6s ease;
}


.design-section__features>* {
    opacity: 0;
    transform: translateY(20px) scale(.95);
    transition: transform .6s ease;
}


.slide-left {
    transform: translateX(-10px);
}

.slide-bottom {
    transform: translateY(-10px);
}

.slide-right {
    transform: translateX(10px);
}

.features-section__card {
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease;
}

.features-section__card.show-cards {
    transform: translate(0);
    opacity: 1;
}

.features-section__content>* {
    opacity: 0;
    transform: translateY(20px) scale(.95);
    transition: transform .6s ease, opacity .6s ease;
}

.animate-testimonial--content {
    opacity: 0;
    transform: translateY(20px) scale(.95);
    transition: transform .6s ease, opacity .6s ease;
}

.promo-section__content>* {
    opacity: 0;
    transform: translateY(20px) scale(.95);
    transition: transform .6s ease, opacity .6s ease;
}

.pulse-btn {
    animation: pulse 2s ease-out infinite;
}

.show-animatey {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.footer-section__list>* {
    opacity: 0;
}

.show-animate {
    opacity: 1;
    transition: opacity .6s ease;
}

.dark-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary-text);
    width: 4.8rem;
    height: 4.8rem;
    font-size: 2.4rem;
    background-color: var(--color-tertiary-bg);
    border: solid 2px var(--color-border-secondary);
    border-radius: 4rem;
    cursor: pointer;
    position: relative;
}

.dark-btn__icon {
    position: absolute;
    color: var(--color-primary);
    transition: opacity .3s ease-out, transform .3s ease-out;
}

.sun-icon {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
}

.moon-icon {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.dark-btn.dark .moon-icon {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
}

.dark-btn.dark .sun-icon {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}


@media(max-width:48em) {
    .hero-section__container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-section__cta {
        justify-content: center;
    }

    .hero-section__avatar {
        justify-content: center;
    }

    .hero-section__rating-box {
        justify-content: center;
    }

    .promo-section__container {
        grid-template-columns: 1fr;
    }
}

@media(max-width:39em) {
    .stats-section__item:not(:last-of-type) {
        border-bottom: solid 1px var(--color-border-secondary);
        border-right: 0;
    }
}

@media(max-width:31.25em) {
    .testimonial-section__carousel {
        padding-inline: clamp(1.8rem, 3vw, 3.2rem);
    }

    .btn--left {
        left: .1rem;
    }

    .btn--right {
        right: .1rem;
    }
}

@media(min-width:31.25em) {
    .hero-section__cta {
        flex-direction: row;
    }

    .promo-section__feature-box--text {
        font-size: 1.6rem;
        letter-spacing: 1.2px;
    }
}

@media(min-width:48.1em) {
    .hero-section__cta {
        flex-direction: column;
        align-items: start;
    }
}

@media(min-width:56.375em) {
    .promo-section__feature-box:not(:last-of-type) {
        border-bottom: none;
    }

    .footer-section__container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width:58.125em) {
    .header {
        align-items: center;
    }

    .nav-bar {
        display: flex;
        align-items: center;
        transform: translateX(0);
        position: relative;
        height: 0;
        top: 0;
        justify-content: space-between;
    }

    .nav-bar__menu {
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        list-style: none;
        border: none;
        justify-self: center;
    }

    .nav-bar__menu-icon {
        display: none;
    }

    .btn-container {
        flex-direction: row;
        padding: 0;
    }

    .header__menu {
        display: none;
    }

    .container-cart {
        gap: 4rem;
    }

    .container__social-icons {
        justify-content: space-between;
        gap: 1rem;
        padding: .5rem;
        display: none;
    }

    .hero-section__cta {
        flex-direction: row;
    }

    .overlay {
        opacity: 0;
        height: 0;
        visibility: hidden;
        width: 0;
    }
}

@media(min-width:64em) {
    .footer-section__item--contact {
        flex-direction: row;
    }
}